.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    border: 0px;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 3px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 6px 5px 1px rgba(0, 0, 0, 0.14),
                0 3px 5px 2px rgba(0, 0, 0, 0.12);
  }

  .box-light {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 6px 5px 1px rgba(0, 0, 0, 0.14),
    0 3px 5px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging, .cdk-drop-list-receiving {
    cursor: grab;
  }

  .cdk-drop-list-dragging {
    opacity: 0.7;
  }

  .checked-title {
    font-family: system-ui;
    font-weight: 100;
    background: lightcyan;
    padding: 0px 5px 5px 5px;
    font-size: 22px;
  }

  .approved-title {
    background: #a9ffe2;
    font-family: system-ui;
    font-weight: 100;
    padding: 0px 5px 5px 5px;
    font-size: 22px;
  }

  .inprogress-title {
    font-family: system-ui;
    font-weight: 100;
    color: white;
    background: cadetblue;
    padding: 0px 5px 5px 5px;
    font-size: 22px;
  }

  .finished-title {
    font-family: system-ui;
    font-weight: 100;
    color: white;
    background: deepskyblue;
    padding: 0px 5px 5px 5px;
    font-size: 22px;
  }

  .checked-wrapper {
    border-left: 8px solid lightcyan;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .approved-wrapper {
    border-left: 8px solid #a9ffe2;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .inprogress-wrapper {
    border-left: 8px solid cadetblue;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .finished-wrapper {
    border-left: 8px solid deepskyblue;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .create-new {
    text-align: center;
    padding: 5px;
    background: gainsboro;
    border-radius: 2px 2px 2px 0px;
    margin-top: 2px;
    border-radius: 5px 0px 0px 5px;
  }

  .input-card {
    border-top: none;
    border-right: none;
    border-radius: 0px;
    border-left: 1px solid lightgray;
    border-radius: 0px 0px 0px 20px;
  }

  .title-holder::before {
    content: 'Наслов';
    font-size: 15px;
    position: absolute;
    padding-left: 15px;
    padding-top: 3px;
    color: #6c757d;
    transition: transform 1s;
    pointer-events: none;
  }

  .title-up-holder::before {
    content: 'Наслов';
    font-size: 15px;
    position: absolute;
    padding-left: 15px;
    padding-top: 3px;
    color: #999;
    transform: translateY(-17px) translateX(-15px) scale(0.7);
    transition: transform 1s;
  }

  .width-holder::before {
    content: 'Ширина' !important;
    color: #6c757d;
  }

  .width-up-holder::before {
    content: 'Ширина' !important;
    color: #6c757d;
  }

  .height-holder::before {
    content: 'Висина' !important;
    color: #6c757d;
  }

  .height-up-holder::before {
    content: 'Висина' !important;
    color: #6c757d;
  }

  .depth-holder::before {
    content: 'Должина' !important;
    color: #6c757d;
  }

  .depth-up-holder::before {
    content: 'Должина' !important;
    color: #6c757d;
  }

  .input-card:focus {
    box-shadow: none;
  }

  .x-btn {
    width: 27px;
    height: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #333 !important;
  }

  .holder {
    margin-top: 10px;
  }

  .input-dimension {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px 0px 0px 10px;
    border-left: 1px solid #ced4da;
  }

  .input-dimension:focus {
    box-shadow: none;
    border-bottom: 1px solid #86b7fe;
    border-left: 1px solid #86b7fe;
  }

  .hover-class::after {
    content: 'Прикачи скица';
    font-size: 12px;
    background: #888;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
  }

  .dragging, .dragging:hover, .dragging:focus, .dragging:active {
    cursor: grab;
  }

  .clicking, .clicking:hover {
    cursor: pointer;
  }

  .modal-desk {
    background: rgb(255, 245, 185);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
