<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center"
                style="min-height: 100vh; flex-direction: column;">
                <div
                    style="height: 100%;
                background: aliceblue;
                align-items: center;
                display: flex; flex-direction: column; justify-content: space-evenly; width:100%;">
                <div style="background-color: aliceblue; height: 100%; width: 70%; padding: 10%;">
                    <app-svg *ngIf="this.loading" [image]="'line-wait'"></app-svg>
                    <div class="text-center" [ngClass]="{'text-lightblue': !this.errorRegister, 'text-danger': this.errorRegister }">Registration Failed <fa-icon [icon]="faExc"></fa-icon></div>
                    <h2 style="height: 20%; padding-bottom: 25px;">{{ 'register' | translate }}</h2>
                    <form [formGroup]="this.registerForm" (ngSubmit)="this.onSubmit()" class="w-100">
                        <div class="d-flex justify-content-between" style="margin:10px; flex-direction: column;">
                            <label>{{ 'username' | translate }}</label>
                            <input formControlName="username" class="form-control" type="text">
                        </div>

                        <div class="d-flex justify-content-between" style="margin:10px; flex-direction: column;">
                            <label>{{ 'email' | translate }}</label>
                            <input formControlName="email" class="form-control" type="email">
                        </div>

                        <app-validation [control]="this.registerForm.controls['confirmPassword']"></app-validation>

                        <app-validation [control]="this.registerForm.controls['username']"></app-validation>

                        <div class="d-flex justify-content-between" style="margin:10px; flex-direction: column;">
                            <label>{{ 'password' | translate }}</label>
                            <input formControlName="password" class="form-control" type="password">
                        </div>

                        <app-validation [control]="this.registerForm.controls['password']"></app-validation>

                        <div class="d-flex justify-content-between" style="margin:10px; flex-direction: column;">
                            <label>{{ 'confirm password' | translate }}</label>
                            <input formControlName="confirmPassword" class="form-control" type="password">
                        </div>

                        <app-validation [control]="this.registerForm.controls['confirmPassword']"></app-validation>

                        <div style="margin: 10px; margin-top: 10%;">
                            <button class="btn w-100" style="background: aquamarine;">{{ 'submit' | translate }}</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>