<div class="container" style="height: 100%;">
    <div class="row">
        <div class="col-12">
            <div style="height: 40vh; background-color: #f4f4f4;">
                <div></div>
                <div class="d-flex align-items-end h-100 w-100 justify-items-around">
                    <ng-container *ngIf="this.showToolbar">
                    <div class="d-flex justify-content-around w-25" style="background: #ace9;">
                        
                        <div class="functions"><a routerLink="/products/create">
                                <fa-icon [icon]="this.faCartPlus"></fa-icon>
                            </a></div>
                        <div class="functions" (click)="this.showModal = !this.showModal">
                            <fa-icon [icon]="this.faTrash"></fa-icon>
                        </div>
                        <div class="functions">
                            <fa-icon [icon]="this.faPen"></fa-icon>
                        </div>
                        <div class="functions">
                            <fa-icon [icon]="this.faEye"></fa-icon>
                        </div>
            
                    </div>
                </ng-container>
                    <div style="display: flex;
                    justify-content: end;
                    align-items: end;
                    width: 100%;
                    background: #ace9;">
                        <div class="functions" id="toggle-holder">
                            <fa-icon [icon]="this.faToggle" (click)="this.showToolbar = !this.showToolbar; this.checkedProducts = [];"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="this.products.length == 0">
                <div class="row" style="padding: 20px;">
                    <div *ngFor="let row of itemsPerRow" class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <app-placeholder [placeholderActive]="true"></app-placeholder>
                    </div>
                </div>
            </ng-container>
            <div class="row" style="padding: 20px;">
                <div *ngFor="let product of products; let i = index;" class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="ui card p-3 mt-4">
                    <div *ngIf="this.showToolbar" class="input-check">
                        <input type="checkbox" class="form-check-input" (change)="this.ticked($event)"/>
                    </div>
                    <div [routerLink]="'/products/'+product.id+'/details'" (click)="this.setValues(product)">
                        <app-placeholder [product]="product" [editMode]="this.showToolbar" (checkboxTicked)="this.addProduct($event)"></app-placeholder>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center m-3">
                        <app-pagination [totalCount]="this.total" [currentAmount]="this.current" (pageChanged)="this.changePage($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [showModal]="this.showModal" (closeModal)="this.showModal = !($event);" (confirmed)="this.bulkDeleteProducts($event)">
    <header>Delete Products</header>
    <div class="main-message">Are you sure you want to delete the selected products?</div>
    <div class="confirm-text">Yes</div>
    <div class="cancel-text">No</div>
</app-modal>