<div [formGroup]="this.dimensionsForm" class="d-flex flex-column justify-content-between dim-wrapper">
    <div>
        <div class="ui large buttons w-100 p-1">
            <button id="checkbox-active" type="button" class="ui button radio-dim" (click)="this.radioDim($event)"><input value="mm" class="d-none" type="radio" name="metric"/>mm</button>
            <div class="or"></div>
            <button [ngClass]="{'disabled': this.editMode}" type="button" class="ui button radio-dim" (click)="this.radioDim($event)"><input value="in" class="d-none" type="radio" name="metric"/>in</button>
          </div>
    </div>
    <div [ngClass]="{ 'label-alt' : !(this.dimension && this.dimension.width) }" id="width" class="ui right labeled input w-100 p-1">
        <input formControlName="width" (focusout)="this.focusOut($event)" (focus)="this.checkValue($event)" value="{{ (this.dimension && this.dimension.width) ?  ((this.previewMode) ? this.dimensionsForm.controls['width'].setValue(this.dimension.width | mmToIn: this.metrics) : this.dimensionsForm.controls['width'].value ) : ''}}" name="width" class="w-75 field text-center" type="text" (change)="this.dimensionChanged($event)">
        <div class="ui basic label text-center w-25" style="font-size: 15px; padding: 0px; padding-top: 11.5px;">
            {{ this.metrics }}
        </div>
    </div>

    <div [ngClass]="{ 'label-alt' : !(this.dimension && this.dimension.height) }" id="height" class="ui right labeled input w-100 p-1">
        <input formControlName="height" (focusout)="this.focusOut($event)" (focus)="this.checkValue($event)" value="{{ (this.dimension && this.dimension.height) ? ((this.previewMode) ? this.dimensionsForm.controls['height'].setValue(this.dimension.height | mmToIn: this.metrics) : this.dimensionsForm.controls['height'].value ): ''}}" name="height" class="w-75 field text-center" type="text" (change)="this.dimensionChanged($event)">
        <div class="ui basic label text-center w-25" style="font-size: 15px; padding: 0px; padding-top: 11.5px;">
            {{ this.metrics }}
        </div>
    </div>

    <div [ngClass]="{ 'label-alt' : !(this.dimension && this.dimension.depth) }" id="depth" class="ui right labeled input w-100 p-1">
        <input formControlName="depth" (focusout)="this.focusOut($event)" (focus)="this.checkValue($event)" value="{{ (this.dimension && this.dimension.depth) ? ((this.previewMode) ? this.dimensionsForm.controls['depth'].setValue(this.dimension.depth | mmToIn: this.metrics) : this.dimensionsForm.controls['depth'].value ) : ''}}" name="depth" class="w-75 field text-center" type="text" (change)="this.dimensionChanged($event)">
        <div class="ui basic label text-center w-25" style="font-size: 15px; padding: 0px; padding-top: 11.5px;">
            {{ this.metrics }}
        </div>
    </div>
</div>