@import "semantic-ui-css/semantic.css";

#checkbox-active {
    background: aquamarine;
}

.dim-wrapper {
    background: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#width::before {
    content: "width";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
}

#height::before {
    content: "height";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
}

#depth::before {
    content: "depth";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
}
