@import "semantic-ui-css/semantic.css";

#checkbox-active {
    background: aquamarine;
}

.dim-wrapper {
    background: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#width::before {
    content: "ширина";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
    transition: transform 1s;
    pointer-events: none;
}

#height::before {
    content: "висина";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
    transition: transform 1s;
    pointer-events: none;
}

#depth::before {
    content: "должина";
    transform: rotate(360deg);
    width: 0px;
    margin-top: 4px;
    font-size: 12.5px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    padding-left: 4px;
    background: transparent;
    color: #aaa;
    transition: transform 1s;
    pointer-events: none;
}

.label-alt::before {
    transform: translateX(300%) translateY(10px) scale(1.25) !important;
}

.or::before {
    content: 'или' !important;
    width: 37px !important;
    height: 37px !important;
    font-size: 15px;
    padding-top: 3.5px;
    top: 37% !important;
    left: -50% !important;
}
