<div>
  <app-navigation>
    <a class="navbar-brand item-padding" style="font-family: 'Oxygen', system-ui;" id="company" href="#">{{ 'metal art' | translate }}</a>
    <a class="nav-link font-arial" routerLink="/home" routerLinkActive="active" id="home-link">{{ 'home' | translate }}</a>
    <a class="nav-link font-arial" routerLink="/products" routerLinkActive="active" id="products-link">{{ 'products' | translate }}</a>
    <a class="nav-link disabled font-arial" href="#" id="about-link">{{ 'about' | translate}}</a>
    <a *ngIf="this.loggedIn" style="cursor: pointer;" class="nav-link" routerLinkActive="active" id="sign-out">
      <fa-icon (click)="this.logOut()" [icon]="this.faSignOut"  style="color: #f4f4f4; background: #555; border-radius:10px; padding:10px 11.5px;"></fa-icon>
    </a>
    <a class="nav-link" routerLink="/payment/shopping-cart" routerLinkActive="active" id="shopping-cart">
      <fa-icon [icon]="this.faShoppingCart"  style="color: #f4f4f4; background: #555; border-radius:10px; padding:10px"></fa-icon>
    </a>
    <a class="nav-link" [routerLink]="this.loggedIn ? 'profile' : '/auth'" routerLinkActive="active" id="auth-link">
      <fa-icon [icon]="this.faUser"  style="color: #f4f4f4; background: #555; border-radius:10px; padding:10px 12px;"></fa-icon>
    </a>
  </app-navigation>
</div>

<router-outlet></router-outlet>

<div>
  <app-footer></app-footer>
</div>
