<div class="w-100" style="background-color: #f4f4f4;">
    <app-breadcrumbs>
        <div class="first-lvl">
            <a id="product-route" style="text-decoration: none;" routerLink="/products"
                routerLinkActive="active">{{ 'products' | translate }}</a>
        </div>
        <div class="second-lvl">
            {{ 'create product' | translate }}
        </div>
    </app-breadcrumbs>
</div>

<div class="w-100 overflow-hidden">
    <div class="row">
        <div class="col-12">
            <div class="container mt-5">
                <div class="d-flex align-items-center h-100">
                    <form class="w-100" [formGroup]="this.createForm" (ngSubmit)="this.onSubmit()"
                        enctype="multipart/form-data" style="height:inherit">
                        <div style="
                padding: 15px;" class="row">
                            <div class="col-lg-6 col-12">
                                <div style="padding: 10px; height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
                                    <div *ngIf="this.image" style="width: 100%; max-height: 600px;">
                                        <div class="w-100 h-100" id="img-holder"></div>
                                    </div>
                                    <div *ngIf="!this.image"
                                        style="width: 100%; max-height: 600px; border: 10px solid teal; border-radius: 20px;">
                                        <app-svg class="w-100 h-100" [image]="'product-placeholder'"></app-svg>
                                    </div>
                                    <label for="files" class="btn btn-light m-2">
                                        <span>{{ 'select image' | translate }}</span>
                                        <fa-icon style="margin: 10px;
                                        color: cadetblue;" [icon]="this.upload"></fa-icon>
                                    </label>
                                    <input name="files" id="files" class="form-control m-2 d-none" type="file" (change)="onChange($event)">
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5 col-12">

                                <div class="d-flex flex-column justify-content-around" style="padding: 10px;">
                                    <div>
                                        <label class="pad-bot">{{ 'product name' | translate }}</label>
                                        <span style="float: right;
                                        color: #ccaa11; font-size: 12px; margin-top: 5px;">{{ 'min 5 chars' | translate }}</span>
                                        <input (keyup)="checkAllFilled()" class="form-control" formControlName="name" type="text" />
                                    </div>
                                    <div>
                                        <label class="pad-bot">{{ 'description' | translate }}</label>
                                        <span style="float: right;
                                        color: #ccaa11; font-size: 12px; margin-top: 5px;">{{ 'min 5 chars' | translate }}</span>
                                        <input (keyup)="checkAllFilled()" class="form-control" formControlName="description" type="text" />
                                    </div>
                                    <div>
                                        <label class="pad-bot">{{ 'shape' | translate }}</label>
                                        <app-input-shape (selectedShape)="this.setShape($event)"></app-input-shape>
                                    </div>
                                    <div style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="form-check">
                                            <label class="form-check-label">{{ 'in stock' | translate }}</label>
                                            <input (change)="this.enableAmount($event)" (keyup)="checkAllFilled()" class="form-check-input" formControlName="available"
                                                type="checkbox" />
                                        </div>
                                    </div>
                                    <div>
                                        <label class="pad-bot">{{ 'amount' | translate }}</label>
                                        <div class="d-flex">
                                            <button type="button"
                                                style="width: 50%; border:0; border-radius: 40px 0px 0px 40px; font-size: 10px;"
                                                (click)="this.changeAmount(false)">
                                                <fa-icon [icon]="this.arrowDown"></fa-icon>
                                            </button>
                                            <input style="box-shadow: none;" class="form-control text-center" formControlName="amount" type="text"/>
                                            <button type="button"
                                                style="width: 50%; border:0; border-radius: 0px 40px 40px 0px; font-size: 10px;"
                                                (click)="this.changeAmount(true)">
                                                <fa-icon [icon]="this.arrowUp"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="h-75">
                                        <label class="pad-bot">{{ 'dimensions' | translate }}</label>
                                        <app-input-dimension [editMode]="true"
                                            (changedDimensions)="this.setDimensions($event)">
                                        </app-input-dimension>
                                    </div>
                                    <div class="d-flex flex-column m-3">
                                        <label class="pad-bot">{{ 'price' | translate }}</label>
                                        <app-input-price [editMode]="true" (changePrice)="this.setPrice($event)">
                                        </app-input-price>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <button disabled="disabled" class="submit-btn" style="background: tan;
                border: 0px;
                padding: 10px;
                width: 100%; margin-top: 45px;" type="submit">{{ 'submit' | translate }}</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>