<div class="row">
    <div class="col-12">
        <div style="background-color: #f4f4f4;">
            <div class="d-flex w-100">
                <div class="d-flex justify-content-around" style="width: 200px; padding-top: 10px;   padding-bottom: 10px;
                margin-left: 10%;
              ">
                    <div><a id="product-route" style="text-decoration: none;" routerLink="/products" routerLinkActive="active">Products</a></div>
                    <fa-icon [icon]="this.angleRight"></fa-icon>
                    <div>Create Product</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="container mt-5">
            <div class="d-flex align-items-center h-100">
                <form class="w-100" [formGroup]="this.createForm" (ngSubmit)="this.onSubmit()"
                    enctype="multipart/form-data" style="height:inherit">
                    <div style="
                padding: 15px;" class="row">
                        <div class="col-lg-6 col-12">
                            <div style="padding: 10px;">
                                <div *ngIf="this.image" style="width: 100%; height: 600px;">
                                    <div class="w-100 h-100" id="img-holder"></div>
                                </div>
                                <div *ngIf="!this.image"
                                    style="width: 100%; height: 600px; border: 10px solid teal; border-radius: 20px;">
                                    <app-svg class="w-100 h-100" [image]="'product-placeholder'"></app-svg>
                                </div>
                                <input class="form-control m-2" type="file" (change)="onChange($event)">
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5 col-12">

                            <div class="d-flex flex-column justify-content-around" style="padding: 10px;">
                                <div>
                                    <label>Name</label>
                                    <input class="form-control" formControlName="name" type="text" />
                                </div>
                                <div>
                                    <label>Description</label>
                                    <input class="form-control" formControlName="description" type="text" />
                                </div>
                                <div>
                                    <label>Shape</label>
                                    <app-input-shape (selectedShape)="this.setShape($event)"></app-input-shape>
                                </div>
                                <div style="margin-top: 10px; margin-bottom: 10px;">
                                    <div class="form-check">
                                        <label class="form-check-label">Available</label>
                                        <input class="form-check-input" formControlName="available" type="checkbox" />
                                    </div>
                                </div>
                                <div>
                                    <label>Amount</label>
                                    <div class="d-flex">
                                        <button type="button"
                                            style="width: 50%; border:0; border-radius: 40px 0px 0px 40px; font-size: 10px;"
                                            (click)="this.changeAmount(false)">
                                            <fa-icon [icon]="this.arrowDown"></fa-icon>
                                        </button>
                                        <input class="form-control text-center" formControlName="amount"
                                            type="number" />
                                        <button type="button"
                                            style="width: 50%; border:0; border-radius: 0px 40px 40px 0px; font-size: 10px;"
                                            (click)="this.changeAmount(true)">
                                            <fa-icon [icon]="this.arrowUp"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="h-75">
                                    <label>Dimensions</label>
                                    <app-input-dimension (changedDimensions)="this.setDimensions($event)">
                                    </app-input-dimension>
                                </div>
                                <div class="d-flex flex-column m-3">
                                    <label>Price</label>
                                    <app-input-price (changePrice)="this.setPrice($event)"></app-input-price>
                                </div>
                            </div>


                        </div>
                    </div>

                    <button style="background: tan;
                border: 0px;
                padding: 10px;
                width: 100%;" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>