<div [formGroup]="this.amountForm" class="d-flex">
    <button type="button"
        style="width: 50%; border:0; border-radius: 40px 0px 0px 40px; font-size: 10px;"
        (click)="this.changeAmount(false)">
        <fa-icon [icon]="this.arrowDown"></fa-icon>
    </button>
    <input formControlName="amount" id="amount-field" class="form-control text-center" type="text" />
    <button type="button"
        style="width: 50%; border:0; border-radius: 0px 40px 40px 0px; font-size: 10px;"
        (click)="this.changeAmount(true)">
        <fa-icon [icon]="this.arrowUp"></fa-icon>
    </button>
</div>