<nav class="navbar navbar-expand-lg navbar-dark text-center" style="font-family: 'Nanum Gothic'; background: #3b3e43;">
    <div class="container">
  <button (click)="toggleMenu($event)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse justify-content-between overflow-hidden" id="navbarNav" style="transition: max-height 1s;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <ng-content select="#company"></ng-content>
      </li>
      <li class="nav-item active item-padding" (click)="this.collapse()">
        <ng-content select="#home-link"></ng-content>
      </li>
      <li class="nav-item item-padding" (click)="this.collapse()">
        <ng-content select="#products-link"></ng-content>
      </li>
      <li class="nav-item item-padding" (click)="this.collapse()">
        <ng-content select="#about-link"></ng-content>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item item-padding" (click)="this.collapse()">
        <svg style="width: 40px; background: #555; border-radius:10px; padding:5px; margin: 0px 5px; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" viewBox="125 125 250 250">
          <g>
            <rect x="-1.065" y="-1.133" width="501.596" height="502" style="stroke: rgb(255, 141, 141); fill: rgb(255, 135, 135);"></rect>
            <polygon style="stroke: rgb(255, 245, 196); fill: rgb(255, 245, 196);" points="550.062 478.951 300.296 279.18 286.793 295.611 456.662 553.858 550.263 550.569"></polygon>
            <polygon style="stroke: rgb(255, 245, 196); fill: rgb(255, 245, 196);" points="-19.246 456.226 204.517 280.069 222.236 295.588 75.401 522.984 -30.754 530.332"></polygon>
            <path style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" d="M -22.155 197.513 L -25.748 308.118 L 195.852 267.982 L 194.776 247.783 L -22.155 197.513 Z"></path>
            <polygon style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" points="302.247 240.663 302.903 261.136 566.089 293.745 559.674 208.162"></polygon>
            <polygon style="stroke: rgb(255, 245, 196); fill: rgb(255, 245, 196);" points="207.955 565.747 238.473 301.753 271.23 300.73 302.488 567.638"></polygon>
            <polygon style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" points="280.607 206.628 422.158 -21.52 503.994 -43.629 512.048 26.064 294.224 219.653"></polygon>
            <polygon style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" points="-22.444 33.191 199.783 230.772 211.914 214.371 65.296 -28.758 -4.953 -23.721"></polygon>
            <polygon style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" points="234.162 201.523 185.872 -31.608 293.195 -37.348 257.253 199.747"></polygon>
            <ellipse style="fill: rgb(255, 245, 196); stroke: rgb(255, 245, 196);" cx="250" cy="250" rx="40" ry="40"></ellipse>
          </g>
        </svg>
      </li>
      <li class="nav-item item-padding" (click)="this.collapse()">
        <ng-content select="#shopping-cart"></ng-content>
      </li>
      <li class="nav-item item-padding" (click)="this.collapse()">
        <ng-content select="#auth-link"></ng-content>
      </li>
      <li class="nav-item item-padding" (click)="this.collapse()">
        <ng-content select="#sign-out"></ng-content>
      </li>
    </ul>
</div>  </div>
</nav>
