<footer style="height: 100vh;" class="bg-dark">
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px; color: wheat;">
        <div class="m-10-p">
            <fa-icon [icon]="this.faFacebook"></fa-icon>
        </div>
        <div class="m-10-p">
            <fa-icon [icon]="this.faTwitter"></fa-icon>
        </div>
        <div class="m-10-p">
            <fa-icon [icon]="this.faInstagram"></fa-icon>
        </div>
        <div class="m-10-p">
            <fa-icon [icon]="this.faLinkedin"></fa-icon>
        </div>
    </div>
</footer>
