<div class="dropdown">
    <button (focusout)="focusOnDropdown($event)" (click)="this.toggleDropdown($event)" style="text-align: left;" class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ this.selectedValue | translate }}
    </button>
    <div style="pointer-events: all !important; z-index: 0 !important;" tabindex="0" (focusout)="this.checkValueChanged($event)" [ngClass]="{ 'd-block' : this.showDropdown }" class="dropdown-menu w-100 menu-shape" aria-labelledby="dropdownMenuButton">
      <span (click)="this.shapeSelected($event)" data-id="0" class="dropdown-item">{{ 'rounded' | translate }}</span>
      <span (click)="this.shapeSelected($event)" data-id="1" class="dropdown-item" href="#">{{ 'squared' | translate }}</span>
      <span (click)="this.shapeSelected($event)" data-id="2" class="dropdown-item" href="#">{{ 'combined' | translate }}</span>
    </div>
  </div>